@import "../../variables/_font";
@import "../../variables/_text";

$h1-display: block !default;

$h1-top-padding: $text-top-padding !default;
$h1-left-padding: $text-left-padding !default;
$h1-bottom-padding: $text-bottom-padding !default;
$h1-right-padding: $text-right-padding !default;
$h1-padding: $h1-top-padding $h1-left-padding $h1-bottom-padding $h1-right-padding !default;

$h1-top-margin: $text-top-margin !default;
$h1-left-margin: $text-left-margin !default;
$h1-bottom-margin: $text-bottom-margin !default;
$h1-right-margin: $text-right-margin !default;
$h1-margin: $h1-top-margin $h1-left-margin $h1-bottom-margin $h1-right-margin !default;

$h1-font-size: $font-1-size !default;
$h1-font-weight: normal !default;
$h1-line-height: normal !default;
