@import "_variables";

button {
  font-size: $button-text-font-size;
  white-space: nowrap;
  cursor: pointer;
  margin: $button-margin;

  &[menu] {
    width: auto;
    font-weight: $button-menu-font-weight;

    &:focus,
    &:hover,
    &.is-triggered {
      text-decoration: underline;
    }
  }

  &[au~="raised"], [au-styles~="raised"] &[raised] {
    padding: $button-padding;
    height: $button-height;
    transition: $button-button-transition;

    &:not([au~="dangerous"]):not([au-styles~="dangerous"] &[dangerous]) {
      background-color: $button-raised-background-color;
    }

    &[au~="dangerous"], [au-styles~="dangerous"] &[dangerous] {
      background-color: $button-raised-dangerous-background-color;
    }
  }

  &[au~="flat"], [au-styles~="flat"] &[flat] {
    color: $button-flat-color;
    background-color: $button-flat-background-color;
  }

  &[au~="action"], [au-styles~="action"] &[action] {
    display: block;
    position: absolute;

    transition: $button-action-transition;

    background-color: $button-action-background-color;
  }

  &[au~="dropdown"], [au-styles~="dropdown"] &[dropdown] {
    background-color: $button-dropdown-background-color;
  }

  &[au~="panel"], [au-styles~="panel"] &[panel] {
    transition: $button-panel-transition;

    &:not(:focus):not(:hover) {
      background-color: $button-panel-background-color;
    }

    &:focus, &:hover {
      background-color: $button-panel-focus-background-color;
    }
  }

  &[au~="toolbar"], [au-styles~="toolbar"] &[toolbar] {
    background-color: $button-toolbar-background-color;
  }

  &[au~="navigation"], [au-styles~="navigation"] &[navigation] {
    background-color: $button-navigation-background-color;
  }
}
