// transition between icon hover states.
// two icons inside of a span (with hover state on icon the bottom).
// use the inactive mixin on the parent container of the icons, use the active mixin in the desired hover state

@import '../variables/_duration';

@mixin iconHoverInactive {
  .icon {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity $duration;
  }

  i {
    &:first-child {
      opacity: 1;
    }

    &:last-child {
      opacity: 0;
    }
  }
}

@mixin iconHoverActive {
  i.icon {
    &:first-child {
      opacity: 0;
    }

    &:last-child {
      opacity: 1;
    }
  }
}
