$breakpoint-tiny: 320px !default;
$breakpoint-mini: 480px !default;
$breakpoint-little: 620px !default;
$breakpoint-small: 768px !default;
$breakpoint-medium: 960px !default;
$breakpoint-large: 1024px !default;
$breakpoint-jumbo: 1200px !default;
$breakpoint-giant: 1400px !default;
$breakpoint-huge: 1600px !default;
