@import "../../variables/palette/grayscale";

[au~=gray-lightest], [au-styles~=palette] [gray-lightest] {
  color: $gray-lightest;
}

[au~=gray-lighter], [au-styles~=palette] [gray-lighter] {
  color: $gray-lighter;
}

[au~=gray-light], [au-styles~=palette] [gray-light] {
  color: $gray-light;
}

[au~=gray-medium], [au-styles~=palette] [gray-medium] {
  color: $gray-medium;
}

[au~=gray-dark], [au-styles~=palette] [gray-dark] {
  color: $gray-dark;
}

[au~=gray-darker], [au-styles~=palette] [gray-darker] {
  color: $gray-darker;
}

[au~=gray-darkest], [au-styles~=palette] [gray-darkest] {
  color: $gray-darkest;
}

[au~=white], [au-styles~=palette] [white] {
  color: $white;
}

[au~=slate], [au-styles~=palette] [slate] {
  color: $slate;
}

[au~=black], [au-styles~=palette] [black] {
  color: $black;
}
