@import "../h1/_variables";
@import "../../variables/_font";
@import "../../variables/_text";

$h3-display: block !default;

$h3-top-padding: $text-top-padding !default;
$h3-left-padding: $text-left-padding !default;
$h3-bottom-padding: $text-bottom-padding !default;
$h3-right-padding: $text-right-padding !default;
$h3-padding: $h3-top-padding $h3-left-padding $h3-bottom-padding $h3-right-padding !default;

$h3-top-margin: $text-top-margin !default;
$h3-left-margin: $text-left-margin !default;
$h3-bottom-margin: $text-bottom-margin !default;
$h3-right-margin: $text-right-margin !default;
$h3-margin: $h3-top-margin $h3-left-margin $h3-bottom-margin $h3-right-margin !default;

$h3-font-size: $font-3-size !default;
$h3-font-weight: normal !default;
$h3-line-height: normal !default;
