@import "_variables";

*:before {
  box-sizing: $_box-sizing-before;
}

* {
  box-sizing: $_box-sizing;
  padding: $_padding;
  border: $_border;
  margin: $_margin;
  box-shadow: $_box-shadow;
}

*:after {
  box-sizing: $_box-sizing-after;
}
