@import "../h1/_variables";
@import "../../variables/_font";
@import "../../variables/_text";

$h4-display: block !default;

$h4-top-padding: $text-top-padding !default;
$h4-left-padding: $text-left-padding !default;
$h4-bottom-padding: $text-bottom-padding !default;
$h4-right-padding: $text-right-padding !default;
$h4-padding: $h4-top-padding $h4-left-padding $h4-bottom-padding $h4-right-padding !default;

$h4-top-margin: $text-top-margin !default;
$h4-left-margin: $text-left-margin !default;
$h4-bottom-margin: $text-bottom-margin !default;
$h4-right-margin: $text-right-margin !default;
$h4-margin: $h4-top-margin $h4-left-margin $h4-bottom-margin $h4-right-margin !default;

$h4-font-size: $font-4-size !default;
$h4-font-weight: normal !default;
$h4-line-height: normal !default;
