$brand-primary-lightest: #e0eaf4;
$brand-primary-lighter: #e0eaf4;
$brand-primary-light: #adc8e2;
$brand-primary: #266eb3;
$brand-primary-dark: #003d7c;
$brand-primary-darker: #0a2e50;
$brand-primary-darkest: #0a2e50;
