$brand-secondary-lightest: #fbfeeb;
$brand-secondary-lighter: #fbfeeb;
$brand-secondary-light: #f5febf;
$brand-secondary: #d4f024;
$brand-secondary-dark: #c0d82f;
$brand-secondary-darker: #aabd30;
$brand-secondary-darkest: #aabd30;
