$body-width: 100% !default;
$body-height: 100% !default;

$body-margin-top: 0 !default;
$body-margin-right: 0 !default;
$body-margin-bottom: 0 !default;
$body-margin-left: 0 !default;
$body-margin: $body-margin-top $body-margin-right $body-margin-bottom $body-margin-left !default;

$body-padding-top: 0 !default;
$body-padding-right: 0 !default;
$body-padding-bottom: 0 !default;
$body-padding-left: 0 !default;
$body-padding: $body-padding-top $body-padding-right $body-padding-bottom $body-padding-left !default;
