@import 'palette/accent';
@import 'palette/grey';

$background-color-tile-2-1: $accent-info-light !default;
$background-color-tile-2-2: $accent-success-light !default;

$background-color-tile-3-1: $accent-info-light !default;
$background-color-tile-3-2: $accent-success-light !default;
$background-color-tile-3-3: $accent-warning-light !default;

$background-color-tile-4-1: $accent-info-light !default;
$background-color-tile-4-2: $accent-success-light !default;
$background-color-tile-4-3: $accent-warning-light !default;
$background-color-tile-4-4: $accent-error-light !default;
