@import 'palette/accent';
@import 'palette/grey';

$border-none: 0 !default;
$border-smallest: .25px !default;
$border-smaller: .5px !default;
$border-small: .75px !default;
$border-medium: 1px !default;
$border-large: 1.5px !default;
$border-larger: 2px !default;
$border-largest: 2.5px !default;

$border: $border-medium solid $grey-lighter !default;
$border-information: $border-medium solid $accent-info !default;
$border-success: $border-medium solid $accent-success !default;
$border-warning: $border-medium solid $accent-warning !default;
$border-error: $border-medium solid $accent-error !default;
