@import 'palette/accent';
@import 'palette/greyscale';

$border: 1px solid $grey-lighter !default;
$border-information: 1px solid $grey-dark !default;
$border-success: 1px solid $accent-success !default;
$border-warning: 1px solid $accent-warning !default;
$border-alert: 1px solid $accent-alert !default;
