@import "palette/brand.secondary";
@import "palette/grayscale";
@import "opacity";

$box-glow-color: $brand-secondary-dark !default;
$box-inset-color: $black !default;
$box-shadow-color: $black !default;

$box-glow-list: '', 'glow';
$box-glow: inset -2px -2px 3px rgba($box-glow-color, $opacity-strong) !default;

$box-inset-list: '', 'inset';
$box-inset: inset 1px 1px 3px rgba($box-inset-color, $opacity-weak) !default;

$box-shadow-list: '', 'shadow-smallest', 'shadow-smaller', 'shadow-small', 'shadow-medium', 'shadow-large', 'shadow-larger', 'shadow-largest';
$box-shadow-smallest: 1px 1px 3px rgba($box-shadow-color, $opacity-strongest) !default;
$box-shadow-smaller: 2px 2px 6px rgba($box-shadow-color, $opacity-stronger) !default;
$box-shadow-small: 3px 3px 9px rgba($box-shadow-color, $opacity-strong) !default;
$box-shadow-medium: 4px 4px 12px rgba($box-shadow-color, $opacity-medium) !default;
$box-shadow-large: 5px 5px 15px rgba($box-shadow-color, $opacity-weak) !default;
$box-shadow-larger: 6px 6px 18px rgba($box-shadow-color, $opacity-weaker) !default;
$box-shadow-largest: 7px 7px 21px rgba($box-shadow-color, $opacity-weakest) !default;
$box-shadows: '', $box-shadow-smallest, $box-shadow-smaller, $box-shadow-small, $box-shadow-medium, $box-shadow-large, $box-shadow-larger, $box-shadow-largest;
