$duration: .125s !default;
$duration-scalar: 2.402249 !default;

$duration-shortest: $duration !default;
$duration-shorter: $duration-shortest * $duration-scalar !default;
$duration-short: $duration-shorter * $duration-scalar !default;
$duration-medium: $duration-short * $duration-scalar !default;
$duration-long: $duration-medium * $duration-scalar !default;
$duration-longer: $duration-long * $duration-scalar !default;
$duration-longest: $duration-longer * $duration-scalar !default;

// @debug $duration-scalar '|' $duration-shortest $duration-shorter $duration-short $duration-medium $duration-long $duration-longer $duration-longest;
