$opacity-none: 0 !default;
$opacity-weakest: .125 !default;
$opacity-weaker: .25 !default;
$opacity-weak: .375 !default;
$opacity-medium: .5 !default;
$opacity-strong: .625 !default;
$opacity-stronger: .75 !default;
$opacity-strongest: .825 !default;
$opacity-full: 1 !default;

$transparent: $opacity-none !default;
$opaque: $opacity-full !default;
