@import "font";
@import "gaps";
@import "palette/grayscale";

$text-top-padding: $gap-none !default;
$text-left-padding: $gap-none !default;
$text-bottom-padding: $gap-none !default;
$text-right-padding: $gap-none !default;

$text-top-margin: $gap-none !default;
$text-left-margin: $gap-none !default;
$text-bottom-margin: $gap-none !default;
$text-right-margin: $gap-none !default;

$text-color: $black !default;
$text-background-color: $white !default;
