$_box-sizing-before: border-box !default;
$_box-sizing: border-box !default;
$_box-sizing-after: border-box !default;

$_padding-top: 0 !default;
$_padding-right: 0 !default;
$_padding-bottom: 0 !default;
$_padding-left: 0 !default;
$_padding: $_padding-top $_padding-right $_padding-bottom $_padding-left !default;

$_border: none !default;

$_margin-top: 0 !default;
$_margin-right: 0 !default;
$_margin-bottom: 0 !default;
$_margin-left: 0 !default;
$_margin: $_margin-top $_margin-right $_margin-bottom $_margin-left !default;

$_box-shadow: none !default;
