@import "../../variables/_text";

$p-display: block !default;

$p-font-weight: 400 !default;
$p-font-size: $font-6-size !default;

$p-top-padding: $text-top-padding !default;
$p-left-padding: $text-left-padding !default;
$p-bottom-padding: $text-bottom-padding !default;
$p-right-padding: $text-right-padding !default;
$p-padding: $p-top-padding $p-left-padding $p-bottom-padding $p-right-padding !default;

$p-top-margin: $text-top-margin !default;
$p-left-margin: $text-left-margin !default;
$p-bottom-margin: $text-bottom-margin !default;
$p-right-margin: $text-right-margin !default;
$p-margin: $p-top-margin $p-left-margin $p-bottom-margin $p-right-margin !default;
