@import "_variables";

html {
  width: $html-width;
  height: $html-height;

  margin: $html-margin;
  padding: $html-padding;

  font-size: $html-font-size; // defines the size of 1rem
  font-family: $html-font-family;
}
