<span>Nested grid rows of various Fibonacci sequence sizes</span>
<div au="width-5-5">
  <span au="width-5-5 background-tile-2">5 of 5</span>
</div>
<div au="width-5-5">
  <span au="width-1-5 background-tile-2">1 of 5</span><span au="width-3-5 background-tile-2">3 of 5</span><span au="width-1-5 background-tile-2">1 of 5</span>
</div>
<br>
<div au="width-5-5">
  <span au="width-1-5"></span><span au="width-3-5 background-tile-2">13 of 13</span><span au="width-1-5"></span>
</div>
<div au="width-5-5">
  <span au="width-1-5"></span><span au="width-3-5"><span au="left-0-13 width-2-13 background-tile-2">2 of 13</span><span au="left-2-13 width-3-13 background-tile-2">3 of 13</span><span au="left-5-13 width-1-13 background-tile-2">1 of 13</span><span au="left-6-13 width-1-13 background-tile-2">1 of 13</span><span au="left-7-13 width-1-13 background-tile-2">1 of 13</span><span au="left-8-13 width-3-13 background-tile-2">3 of 13</span><span au="left-11-13 width-2-13 background-tile-2">2 of 13</span></span><span au="width-1-5"></span>
</div>
<br>
<div au="width-5-5">
  <span au="width-1-5"></span><span au="width-3-5"><span au="left-0-13 width-2-13"></span><span au="left-2-13 width-3-13"></span><span au="left-5-13 width-1-13"></span><span au="left-6-13 width-1-13 background-tile-2">2 of 2</span><span au="left-7-13 width-1-13"></span><span au="left-8-13 width-3-13"></span><span au="left-11-13 width-2-13"></span></span><span au="width-1-5"></span>
</div>
<div au="width-5-5">
  <span au="width-1-5"></span><span au="width-3-5"><span au="left-0-13 width-2-13"></span><span au="left-2-13 width-3-13"></span><span au="left-5-13 width-1-13"></span><span au="left-6-13 width-1-13 background-tile-2"><span au="left-0-2 width-1-2 background-tile-2">1 of 2</span><span au="left-1-2 width-1-2 background-tile-2">1 of 2</span></span><span au="left-7-13 width-1-13"></span><span au="left-8-13 width-3-13"></span><span au="left-11-13 width-2-13"></span></span><span au="width-1-5"></span>
</div>
<br>
<div au="width-8-8">
  <span au="width-8-8 background-tile-2">8 of 8</span>
</div>
<div au="width-8-8">
  <span au="width-5-8 background-tile-2">5 of 8</span><span au="width-3-8 background-tile-2">3 of 8</span>
</div>
<div au="grid-row height-100px width-20em right-cat">
  <span au="width-5-8 height-1-1"></span><span au="width-3-8 height-1-1"><span au="left-0-3 width-2-3 background-tile-2">2 of 3</span><span au="left-2-3 width-1-3 background-tile-2">1 of 3</span></span>
</div>
