@import "_grayscale";

$accent-info-light: $gray-lightest !default;
$accent-info: $gray-medium !default;
$accent-info-dark: $gray-darkest !default;

$accent-success-light: #e6ffe7 !default;
$accent-success: #37d13b !default;
$accent-success-dark: #29aa2d!default;

$accent-warning-light: #fff7c4 !default;
$accent-warning: #ffe329 !default;
$accent-warning-dark: #eeca00 !default;

$accent-error-light: #ffe6e7 !default;
$accent-error: #d1373b !default;
$accent-error-dark: #aa292d !default;
