@import 'brand.primary';
@import 'brand.secondary';

$accent-success-light: $brand-secondary;
$accent-success: $brand-secondary-dark;
$accent-success-dark: $brand-secondary-darker;

$accent-warning-light: #fff7c4;
$accent-warning: #ffe329;
$accent-warning-dark: #eeca00;

$accent-alert-light: #ffe6e7; // accent-error
$accent-alert: #d1373b; // accent-error
$accent-alert-dark: #aa292d; // accent-error
