$brand-primary-lightest: #e0eaf4 !default;
$brand-primary-lighter: #e0eaf4 !default;
$brand-primary-light: #adc8e2 !default;
$brand-primary: #266eb3 !default;
$brand-primary-dark: #003d7c !default;
$brand-primary-darker: #0a2e50 !default;
$brand-primary-darkest: #0a2e50 !default;
