$gray-lightest: #e0e0e0 !default;
$gray-lighter: #c0c0c0 !default;
$gray-light: #a0a0a0 !default;
$gray-medium: #808080 !default;
$gray-dark: #606060 !default;
$gray-darker: #404040 !default;
$gray-darkest: #202020 !default;

$white: #ffffff !default;
$slate: #808080 !default;
$black: #000000 !default;
