$gray-lightest: #e0e0e0;
$gray-lighter: #c0c0c0;
$gray-light: #a0a0a0;
$gray-medium: #808080;
$gray-dark: #606060;
$gray-darker: #404040;
$gray-darkest: #202020;

$white: #ffffff;
$slate: #808080;
$black: #000000;
