$grey-lightest: #e0e0e0 !default;
$grey-lighter: #c0c0c0 !default;
$grey-light: #a0a0a0 !default;
$grey-medium: #808080 !default;
$grey-dark: #606060 !default;
$grey-darker: #404040 !default;
$grey-darkest: #202020 !default;

$white: #ffffff !default;
$slate: #808080 !default;
$black: #000000 !default;
