$grey-lightest: #e0e0e0;
$grey-lighter: #c0c0c0;
$grey-light: #a0a0a0;
$grey-medium: #808080;
$grey-dark: #606060;
$grey-darker: #404040;
$grey-darkest: #202020;

$white: #ffffff;
$slate: #808080;
$black: #000000;
