// to use attribute styles must be individually activated at the <html> (or deeper) level within the document
//
// e.g. to style elements with the `relative` position attribute
//
// <html au-styles="relative">
//   <div>
//     <div relative>
//
// alternatively the `relative` attribute can be used directly (without activation)
//
// e.g. to achieve the same styling effect as the previous example
//
// <html>
//   <div>
//     <div au="relative">

[au~="absolute"], [au-styles~="absolute"] [absolute] {
  position: absolute;
}

[au~="fixed"], [au-styles~="fixed"] [fixed] {
  position: fixed;
}

[au~="relative"], [au-styles~="relative"] [relative] {
  position: relative;
}

[au~="static"], [au-styles~="static"] [static] {
  position: static;
}
