// to use attribute styles must be individually activated at the <html> (or deeper) level within the document
//
// e.g. to style elements with the `centered` alignment attribute
//
// <html au-styles="centered">
//   <div>
//     <div centered>
//
// alternatively the `centered` attribute can be used directly (without activation)
//
// e.g. to achieve the same styling effect as the previous example
//
// <html>
//   <div>
//     <div au="centered">
//

// Block Alignment

[au~=distributed], [au-styles~=distributed] [distributed] {
  display: flex;
  justify-content: space-between;
}

// Content Alignment

[au~=centered], [au-styles~=centered] [centered] {
  text-align: center;
}
