@import "../variables/_box-shadows";

@for $g from 1 through length($box-glow-list) {
  @for $i from 1 through length($box-inset-list) {
    @for $s from 1 through length($box-shadow-list) {
      @if 1 < $g or 1 < $i or 1 < $s {
        $selector: '';

        @if 1 < $g {
          $selector: #{'[au~="glow"]'};
        } @else {
          $selector: #{':not([au~="glow"])'};
        }

        @if 1 < $i {
          $selector: $selector#{'[au~="inset"]'};
        } @else {
          $selector: $selector#{':not([au~="inset"])'};
        }

        @if 1 < $s {
          $selector: $selector#{'[au~="#{nth($box-shadow-list, $s)}"]'};
        }

        $box-shadow: '';

        @if 1 < $g {
          $box-shadow: #{$box-glow};
        }

        @if 1 < $i {
          @if 1 < $g {
            $box-shadow: $box-shadow, #{$box-inset};
          } @else {
            $box-shadow: #{$box-inset};
          }
        }

        @if 1 < $s {
          @if 1 < $g or 1 < $i {
            $box-shadow: $box-shadow, nth($box-shadow-list, $s);
          } @else {
            $box-shadow: nth($box-shadow-list, $s);
          }
        }

        // @debug #{$selector} #{'{box-shadow:'} #{$box-shadow}#{';}'};

        #{$selector} {
          box-shadow: $box-shadow;
        }
      }
    }
  }
}
