@import "../variables/_font.scss";

[au~=font-000000-size], [au-styles~=font] [font-000000-size] {
  font-size: $font-000000-size;
}

[au~=font-00000-size], [au-styles~=font] [font-00000-size] {
  font-size: $font-00000-size;
}

[au~=font-0000-size], [au-styles~=font] [font-0000-size] {
  font-size: $font-0000-size;
}

[au~=font-000-size], [au-styles~=font] [font-000-size] {
  font-size: $font-000-size;
}

[au~=font-00-size], [au-styles~=font] [font-00-size] {
  font-size: $font-00-size;
}

[au~=font-0-size], [au-styles~=font] [font-0-size] {
  font-size: $font-0-size;
}

[au~=font-1-size], [au-styles~=font] [font-1-size] {
  font-size: $font-1-size;
}

[au~=font-2-size], [au-styles~=font] [font-2-size] {
  font-size: $font-2-size;
}

[au~=font-3-size], [au-styles~=font] [font-3-size] {
  font-size: $font-3-size;
}

[au~=font-4-size], [au-styles~=font] [font-4-size] {
  font-size: $font-4-size;
}

[au~=font-5-size], [au-styles~=font] [font-5-size] {
  font-size: $font-5-size;
}

[au~=font-6-size], [au-styles~=font] [font-6-size] {
  font-size: $font-6-size;
}
