// to use attribute styles must be individually activated at the <html> (or deeper) level within the document
//
// e.g. to style elements with the `margin-left-smallest` margin attribute
//
// <html au-styles="margin-left-smallest">
//   <div>
//     <div margin-left-smallest>
//
// alternatively the `margin-left-smallest` attribute can be used directly (without activation)
//
// e.g. to achieve the same styling effect as the previous example
//
// <html>
//   <div>
//     <div au="margin-left-smallest">

@import "../variables/_gaps";

// generate margin, top, left, bottom, right, vertical and horizontal selectors

@mixin margin-generator($suffix, $units) {
  [au~=margin#{$suffix}], [au-styles~=margin#{$suffix}] [margin#{$suffix}] {
    margin: $units;
  }

  [au~=margin-top#{$suffix}], [au-styles~=margin-top#{$suffix}] [margin-top#{$suffix}] {
    margin-top: $units;
  }

  [au~=margin-left#{$suffix}], [au-styles~=margin-left#{$suffix}] [margin-left#{$suffix}] {
    margin-left: $units;
  }

  [au~=margin-bottom#{$suffix}], [au-styles~=margin-bottom#{$suffix}] [margin-bottom#{$suffix}] {
    margin-bottom: $units;
  }

  [au~=margin-right#{$suffix}], [au-styles~=margin-right#{$suffix}] [margin-right#{$suffix}] {
    margin-right: $units;
  }

  [au~=margin-vertical#{$suffix}], [au-styles~=margin-vertical#{$suffix}] [margin-vertical#{$suffix}] {
    margin-top: $units;
    margin-bottom: $units;
  }

  [au~=margin-horizontal#{$suffix}], [au-styles~=margin-horizontal#{$suffix}] [margin-horizontal#{$suffix}] {
    margin-right: $units;
    margin-left: $units;
  }
}

// generate coarse grained named margin selectors (preferred / standardized)

@include margin-generator('-none', $gap-none);
@include margin-generator('-smallest', $gap-smallest);
@include margin-generator('-smaller', $gap-smaller);
@include margin-generator('-small', $gap-small);
@include margin-generator('-medium', $gap-medium);
@include margin-generator('-large', $gap-large);
@include margin-generator('-larger', $gap-larger);
@include margin-generator('-largest', $gap-largest);

// generate fine grained numeric (0 - 127) margin selectors (specialized)

$key: 0;

@for $o from 0 through 1 {
  @for $n from 0 through 1 {
    @for $m from 0 through 1 {
      @for $l from 0 through 1 {
        @for $k from 0 through 1 {
          @for $j from 0 through 1 {
            @for $i from 0 through 1 {
              $units: 0;

              @if (1 == $i) {
                $units: $units + $gap-smallest;
              }
              @if (1 == $j) {
                $units: $units + $gap-smaller;
              }
              @if (1 == $k) {
                $units: $units + $gap-small;
              }
              @if (1 == $l) {
                $units: $units + $gap-medium;
              }
              @if (1 == $m) {
                $units: $units + $gap-large;
              }
              @if (1 == $n) {
                $units: $units + $gap-larger;
              }
              @if (1 == $o) {
                $units: $units + $gap-largest;
              }

              @include margin-generator('-#{$key}', $units);

              $key: $key + 1;
            }
          }
        }
      }
    }
  }
}
