// to use attribute styles must be individually activated at the <html> (or deeper) level within the document
//
// e.g. to style elements with the `grid-8` grid style attribute
//
// <html au-styles="grid-8">
//   <div>
//     <div width-4-8>
//
// alternatively the `width-4-8` attribute can be used directly (without activation)
//
// e.g. to achieve the same styling effect as the previous example
//
// <html>
//   <div>
//     <div au="width-4-8">

@mixin width-generator($numerator, $denominator) {
  [au~=width-#{$numerator}-#{$denominator}], [au-styles~=grid-#{$denominator}] [width-#{$numerator}-#{$denominator}] {
    @if (0 == $numerator) {
      width: 0;
    } @else {
      width: percentage($numerator / $denominator);
    }
  }
}

@for $pixels from 0 through 10000 {
  [au~=width-#{$pixels}px], [au-styles~=grid] [width-#{$pixels}px] {
    @if (0 == $pixels) {
      width: 0;
    } @else {
      width: #{$pixels}px;
    }
  }
}

@for $percent from 0 through 100 {
  [au~=width-#{$percent}], [au-styles~=grid] [width-#{$percent}] {
    @if (0 == $percent) {
      width: 0;
    } @else {
      width: #{$percent}#{'%'};
    }
  }
}
